# Mac_OS Files
.DS_Store
**/.DS_Store
**/.vscode
**/.idea

# Docker project files
part1/Dockerfile
part2/countries-data/Dockerfile
part1/anecdote-example/

# Env files
**/.env

# Node modules
**/node_modules

# Heroku sample app
heroku/**

# Frontend Prod builds
part2/notes/build
part2/phonebook/build/
part2/notes/public/
part2/phonebook/public
db.txt
/part3/phonebook/mongo.js
/part3/mongo.js
/part4/notes
